@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Serif+4:ital,opsz@0,8..60;1,8..60&display=swap');

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../../../public/fonts/Satoshi-Bold.woff2') format('woff2'),
          url('../../../public/fonts/Satoshi-Bold.woff') format('woff'),
          url('../../../public/fonts/Satoshi-Bold.ttf') format('truetype');
          font-weight: 700;
          font-display: swap;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../../../public/fonts/Satoshi-Regular.woff2') format('woff2'),
          url('../../../public/fonts/Satoshi-Regular.woff') format('woff'),
          url('../../../public/fonts/Satoshi-Regular.ttf') format('truetype');
          font-weight: 400;
          font-display: swap;
          font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('../../../public/fonts/Satoshi-Italic.woff2') format('woff2'),
          url('../../../public/fonts/Satoshi-Italic.woff') format('woff'),
          url('../../../public/fonts/Satoshi-Italic.ttf') format('truetype');
          font-weight: 400;
          font-display: swap;
          font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('../../../public/fonts/Satoshi-Black.woff2') format('woff2'),
          url('../../../public/fonts/Satoshi-Black.woff') format('woff'),
          url('../../../public/fonts/Satoshi-Black.ttf') format('truetype');
          font-weight: 900;
          font-display: swap;
          font-style: normal;
  }

  * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }